body{
    text-align:center;  
    border-style:solid;
    border-radius:20px;
    padding:50px;
    background:linear-gradient(#39f70a 0%,#f7220a 100%);  
    }
    #Logo{
    height:200px;
    border-color:red;    
    }
    #Nature_h3{
    text-decoration:underline;
    }
    img{
    height:300px;
    border-style:solid;
    border-radius:5px;       
    }
    #slingpot{
    height:300px;
    border-style:solid;
    border-radius:5px;    
    }
    #slingi{
    height:300px;
    border-style:solid;
    border-radius:5px;    
    }
    #Gamers_h3{
    text-decoration:underline;
    }
    #gamers{
    height:300px;
    border-style:solid;
    border-radius:5px;    
    }
    #gamers2{
    height:300px;
    border-style:solid;
    border-radius:5px;    
    }
    #gamers3{
    height:300px;
    border-style:solid;
    border-radius:5px;    
    }
    #neon1{
    height:300px;
    border-style:solid;
    border-radius:5px;    
    }
    #neon2{
    height:300px;
    border-style:solid;
    border-radius:5px;    
    }
    #neon3{
    height:300px;
    border-style:solid;
    border-radius:5px;    
    }
    #Neon_h3{
    text-decoration:underline;    
    }
    #Funny_h3{
    text-decoration:underline;    
    }
    #funny1{
    height:300px;
    border-style:solid;
    border-radius:5px;
    }
    #funny2{
    height:300px;
    border-style:solid;
    border-radius:5px;
    }
    #funny3{
    height:300px;
    border-style:solid;
    border-radius:5px;
    }
    #My_img{
    border-color:skyblue;    
    }
    #Contact{
    text-decoration:underline;    
    }